<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div th:replaces="~ {menu ::menu}"></div>

	<div class="container">

		<h1>Lista de eventos</h1>

		<table>
		<thead>
		
		<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Local</th>
		<th>Data</th>
		<th>Horário</th>
		</tr>
		
		</thead>
			
			<tbody>
			
			<tr th:each="e : ${eventos}">
			<td th:text="${e.id}">1</td>
			<td th:text="${e.nome}">Luiz Manoel</td>
			<td th:text="${e.local}">ifrn campus lajes </td>
			<td th:text="${e.data}">31/08/2022</td>
			<td th:text="${e.horario}">17:17</td>
			</tr>
			
			</tbody>
		</table>

	</div>
</body>
</html>